<div class="main-container">
  <div class="menu-container">
    <ul>
      <li class="li-container-bunvenit hide-bunvenit-container">
        <a href="#">Bun Venit!: </a>
      </li>
      <li class="li-container-register hide-registerBtn-container">
        <a href="#" class="a-container-register">Register </a>
      </li>
      <li class="li-container-login hide-loginBtn-container">
        <a href="#" class="a-container-login">Login </a>
      </li>
      <li class="li-container-logout hide-logoutBtn-container">
        <a href="#" class="a-container-logout">Logout </a>
      </li>
    </ul>
  </div>
</div>
