<div class="form-container-login hide-login-form">
  <form action="" method="post" class="form">
    <h1>Login Form</h1>
    <div class="form-container">
      <div class="group">
        <label for="email" class="label">Email:</label>
        <input
          type="email"
          name="email"
          class="inputRegisterForm email"
          autocomplete="off"
        />
      </div>

      <div class="group">
        <label for="password" name="password" class="label">Password:</label>
        <input
          type="password"
          class="inputRegisterForm password"
          autocomplete="off"
        />
      </div>
      <div class="login-message"></div>
    </div>
    <button type="submit" class="btn btn-login">Login</button>
  </form>
</div>
