.form-container{
margin: auto;

top:50%;
right: 50%;
}
form{
	display: block;
	margin: auto;
  width: 35rem;

  padding: 10px;
	border: 1px solid black;

}
h1{
	text-align: center;
	border-bottom: 1px solid black;
	padding: 2rem;
}

.main-container{
	padding-top: 1rem;
}
.group{
margin: auto;
width: 75%;
}
.label{
	display: block;
	width: 100%;
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.inputRegisterForm{
	display: block;
	width: 99%;
	padding-bottom: .4rem;
	margin-bottom: .5rem;
	font-size: medium;
}

.btn{
	display: block;
	background: transparent;
	border: 1px solid black;
	padding: .3rem;
	margin: .2rem;
	margin: auto;
	margin-top: .5rem;
font-size: medium;
}

.message{
	display: block;
	margin: auto;
	width: 50%;
}
.message-group{
	display: block;
	color: red;
	text-align: center;
}
.registerSuccess{
	display: block;
	color: green;
	
}
.message > .hide{
	display: none;
}

.hide-login-form {
	display: none;
}
.hide-register-form{
	display: none;
}